{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 999,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
