@layer base {
  input[type='checkbox'],
  input[type='radio'] {
    accent-color: var(--color-primary50);
  }

  input:disabled {
    background-color: var(--color-gray20);
  }

  input::placeholder {
    color: var(--color-gray40);
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}